# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\java_module2\bai_tap\RectangleProgram\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
